accelerate==0.20.3
numpy==1.24.3
pandas==1.5.3
scipy==1.11.1
six==1.16.0
future==0.18.3
tqdm==4.65.0
torch==2.0.1
transformers==4.30.2
tensorboard==2.13.0
scikit-learn==1.2.2
dask==2023.7.1
nltk==3.8.1
textblob==0.17.1
sentencepiece==0.1.99
uvicorn==0.22.0
websocket-client==1.6.1
websockets==11.0.3
httpx==0.24.1
rdkit==2023.3.2
nltk==3.8.1
textblob==0.17.1
sentencepiece==0.1.99